@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body, html {
    padding: 0;
    margin: 0;
}

.Header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.Header_content{
    align-items: center;
    height: 100%;
    max-width: 1730px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    order: 1;
    font-size: 140%;
}

.Header_links{
    list-style: none;
}

.header_links li{
    display: inline-block;
    padding: 50px 20px;
}

.header_links li:nth-child(1){
    padding: 50px 20px 0 0;
}

.Name{
    order: 3;
    margin-left: auto;
    color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Staatliches', cursive;
}

div{
    display: block;
}

a {
    text-decoration: none;
}
a, body {
    color: #000;
}

.Main_content{
    padding:40px;
    display: flex;
}

.Container {
    align-items: center;
    display: flex; 
    margin: 0 auto;
    max-width: 1730px;                
    height: 100%;                 
    width: 100%; 
    margin-top: 100px;
    justify-content:space-between;                
}

.Container > div:first-child {                
    display: flex;
    flex-direction: column;        
}

.Container > div:first-child > div {
    flex: 1; 
    overflow: auto;
                          
}

.Container > div:last-child {
  display: flex;
  justify-content: right;
  float: right;
}

.Titel{
    font-size: 140px;
}

.Titel_content{
    padding-bottom: 80px;
    
}



.Img_box{
    display: flex;
    height: 556.917px;
    object-fit: cover;
    border: 18px #000;
    stroke:#000;
    border-width: 50px;
    overflow:hidden;

}


.Text{
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 5%;
    line-height: 160.5%;
}