@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Staatliches', cursive;
}

.header_links {
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

.Intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}

@media (max-width: 600px){
    .Intro{
        padding: 125px 30px;
    }
}

@media (max-width: 700px){
    
    .Header{
        flex-direction: column;

    }

    Header .header_links li{
        margin: 0 7px;
    }
}

.Header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0;
    font-size: 150%;
    background-color: white;
}

.Header .header_links{
    display: flex;
}

.Header .header_links li{
    margin: 0 15px;
    position: relative;
}
.Header .header_links li:first-child{
    margin-left: 0;
}

.Header .header_links li:last-child{
    margin-right: 0;
}
.list::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out 0s;
}
.list:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

@media (max-width: 414px){ /*max-height 879px*/
    .Intro{
        min-height: 879px;
    }
    .Intro_name{
        font-size: 55px;
    }
    .Name{
        display: none;
    }
    .Header{
        padding: 28px 100px 0;
        height: 80px;
    }
}
.start{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-left: 415px;
    margin-top: 90px;
    align-items: center;               
    margin-bottom: 100px;
}
.text_start{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    padding-right: 80px;
    text-align: right;
}
.titel{
    font-size: 135px;
    padding-bottom: 4%;
}
.description{
    font-size: 30px;
    line-height: 160.5%;
    
}
.img_start{
    display: flex;
    height: 1000px;
    width: 1600px;
    position: relative;
    object-fit: cover;
    overflow:hidden;
}

@media (max-width: 414px){
    .start{
        flex-direction: column;
        margin: 0 auto;
        margin-top: 100px
    }
    .text_start{
        flex-direction: column;
        text-align: center;
        padding-left: 8%;
        padding-right: 8%;
        width: 100%;
    }
    .titel{
        font-size: 100px;
        text-align: center;
    }
    .description{
        font-size: 18px;
        font-family: 'Inter', sans-serif;
    }
    .img_start{
        height: 290px;
        width: 414px;  
    }
}

.about{
    display: flex;
    margin: 0 auto;
    max-width: 1730px;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.about_text{
    text-align: center;
}
.about_titel{
    font-size: 135px;
    padding-bottom: 50px;
}
.titel_text{
    font-size: 20px;
    line-height: 160.5%;
    font-family: 'Inter', sans-serif;;
}
.circle_colors{
    display: flex;
    flex-direction: row;
    max-width: 2008px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.color{
    padding:50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.color> span{
    width:150px;
    height: 150px;
    border-radius: 50%;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    inset: 0;
    transition: 0.75s;
}

.dot1{
    background-color: #12141C;
}
.dot2{
    background-color: #3D3DA1;
}
.dot3{
    background-color: #F27DFF;
}
.dot4{
    background-color: #E5E5FF;
}
.dot5{
    background-color: #E5F2FF;
}
.dot6{
    background-color: #FFFFFF;
}
.color:hover .dot{
    transform: scale(1.2);
}
.color p{
    padding-top: 25px;
}

@media (max-width: 414px){
    .about{
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 100px;
    }
    .about_titel{
        font-size: 100px;
        text-align: center;
    }
    .titel_text{
        font-size: 18px;
    }
    .circle_colors{
        display: flex;
        flex-wrap: wrap;
    }
    .circle_colors > div{
        flex:50%;
    }
    .dot{
        width:100%;
    }
    .color{
        padding-top:30px;
        padding-bottom:30px;
    }
    .color> span{
        width:100px;
        height: 100px;
    }

}

.images{
    display: flex;
    margin: 0 auto;
    max-width: 2008px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 50px;
}
.images img{
    flex-direction: row;
    height: 680px; 
    width: 1004px;
}
.images_row{
    display: flex;
    flex-direction: row;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

@media (max-width: 414px){
    .images{
        flex-direction: column;
        margin: 0 auto;
        overflow: hidden;
    }
    .images > img{
        display: flex;
        flex-direction: column;
    }
    .images_row{
        display: flex;
        flex-direction: column;
        object-fit: cover;
        width: 414px;
        padding-top: 0px;
    }
    .images_row img{
        width: 414px;
        height: 300px;
        padding-top: 30px;
    }
    
}
.footer{
    max-width: 1730px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.footer_content{
    display: flex;
    flex-direction: row;
}
.footer_name{
    margin-bottom: 30px;
    display: flex;
}
.footer_name p{
    font-size: 50px;
}
.footer_address {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 160.5%;
    width: 25%;
}
.footer_contact {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 160.5%;
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer_social{
    text-align: right;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 160.5%;
    margin-left: auto;
}
.F{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
}
.F::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out 0s;
}
.F:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
.footer_footer{
    padding:30px 0;
}

@media (max-width: 414px){

    .footer_name{
        padding-left: 8%;
        padding-right: 8%;
        margin-bottom: 0px;
    }
    .footer_content{
        flex-direction: column;
        padding-top: 8%;
        padding-left: 8%;
        padding-right: 8%;
    }
    .footer_address{
        width:100%;
    }
    .footer_contact{
        padding-top: 4%;
        width:100%;
    }
    .footer_social{
        padding-top: 4%;
        width: 100%;
        text-align: left;
    }
    .footer_footer{
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width: 1536px){
    .titel{
        font-size: 100px;
    }
    .start{
        max-width: 1150px;
    }
    .img_start{
        height: 650px;
        width: 700px;
    }
    .description{
        font-size: 22px;
    }
    .about_titel{
        font-size: 100px;
    }
    .titel_text{
        font-size: 18px;
    }
    .circle_colors{
        max-width: 1150px;
    }
    .color > span{
        width: 80px;
        height: 80px;
    }
    .images img{
        height: 490px;
        width: 760px
    }
    .footer{
        max-width: 1150px;
    }
}