@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    background-color: transparent;
}
body, html {
    padding: 0;
    margin: 0;
}

.Header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.Header_content{
    align-items: center;
    height: 100%;
    max-width: 1730px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    order: 1;
    font-size: 140%;
}

.Header_links{
    list-style: none;
}

.header_links li{
    display: inline-block;
    padding: 50px 20px;
}

.header_links li:nth-child(1){
    padding: 50px 20px 0 0;
}

.Name{
    order: 3;
    margin-left: auto;
    color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Staatliches', cursive;
}

div{
    display: block;
}

.IntroVideo {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(102, 140, 164);
}

.IntroVideo__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate3d(-50%,-50%,0);
    opacity: 1;
    display: block;
}

video {
    object-fit: contain;
}