body {
    background-color: transparent;
}
body, html {
    padding: 0;
    margin: 0;
}

.Header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    will-change: transform,opacity,background-color;
    z-index: 101;
    width: 100%;
    align-items: center;
    display: flex;
    transform: translateZ(0);
    background-color: transparent;
    transition: opacity .25s cubic-bezier(.23,1,.32,1),background-color .25s cubic-bezier(.23,1,.32,1);
    opacity: 1;
}

.Header_content{
    align-items: center;
    height: 100%;
    max-width: 1730px;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.Header_list{
   padding-right: auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.Header_about{
    background-color: goldenrod;
    width: 100%;
    
}

.Header_work{
    background-color: coral;
    width: 100%;
    
}

.Header_contact{
    background-color: aquamarine;
    width: 100%;
    
}


.Header_Name{
    margin-left: auto;
    padding-left: auto;
}

*{
    box-sizing: border-box;
}

div{
    display: block;
}


.Block--paddingBottomXlarge {
    padding-bottom: 75px;
}
.Block--paddingTopXlarge {
    padding-top: 75px;
}
.Block--wasVisible {
    opacity: 1;
}
.Block{
    margin-bottom: 0;
    opacity: 0;
    transition: opacity .28s cubic-bezier(.23,1,.32,1);
    will-change: opacity;
    position: relative;
    overflow: hidden;
}
.Block {
    padding-left: 15px;
    padding-right: 15px;
}